* {
  padding: 0;
  margin: 0;
}

.buttonStyle1 {
  border-radius: 10px;
  border: 1px solid #304F47;
  color: #fff;
  background-color: #C7923E;
  justify-content: center;
  align-items: center;
}

.buttonStyle1:hover {
  background-color: #fff;
  color: #C7923E;
  border: 1px solid #C7923E;
}