* {
  padding: 0;
  margin: 0;
  font-family: 'Mulish';
}

.containerHero {
  background-image: url("../../assets/Home/image3.png");
  background-size: cover;
  background-repeat: no-repeat ;
  height: 40vw;
  color: #fff;
}

.containerHero h1 {
position: absolute;
font-family: 'Lora';
font-style: normal;
width: 50%;
font-size: 50px;
left: 136px;
top: 362px;
}

.containerHero p {
  position: absolute;
  font-family: 'Lora';
  font-style: normal;
  width: 50%;
  font-size: 20px;
  left: 136px;
  top: 527px;
}

.angleBr {
  position: inherit;
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  position: inherit;
  left: 105px;
  bottom: 1px;
}
/* 
.left {
  margin: 0 200px;
  border: 4px solid #fff;
  
  background-color: inherit;
  border-radius: 50%;
  color: #fff;
  top: 600px;
  padding: 5px;
}

right {
  margin: 0 200px;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: inherit;
  border-radius: 50%;
  color: #fff;
  right: 0;
  top: 600px;
  padding: 5px;
} */

.searchBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: inherit;
  height: 80px;
  width: 80%;
  margin: auto;
  background-color: #304F47;
  color: #fff;
  bottom: 1;
}

.searchBar input {
  position: inherit;
  width: 400px;
  height: 50px;
  font-size: 10px;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
}

.searchBar p {
  font-size: 9px;
  color: #9A9AB0;
}