.Carousel__container {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#image {
  display: flex;
  height: 40vh;
  width: 300px;
}

.imageCards {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  /* padding: 30px; */
  gap: 3rem;
  width: 90%;
  margin: auto;
}

.card {
  border-radius: 8px;
  width: 300px;
  height: 60vh;
  display: flex;
  font-size: 13px;
  flex-direction: column;
  align-items:flex-start;
  border-radius: 5px 5px 0 0;
  border: 2px solid #e1e1e1;
}

.text  {
  min-height: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card button {
  padding: 10px;
}


#one {
  margin: 0 10px 10px 10px;
}