.containerNav {
  background-color: inherit;
  display: flex;
  font: Mulish;
}

.pages {
  display: flex;
  width: 99%;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.links a {
  text-decoration: none;
  color: #304F47;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.button {
  display: flex;
  gap: 10px;
}

.button i {
  padding: 10px;
  color: #fff;
}

.button i:hover {
  color: #C7923E;
}

.containerNav button {
  padding: 10px 30px;
}