.containerNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  font: Mulish;
  width: 100%;
  padding: 0;
}

.pages {
  display: flex;
  width: 99%;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.links a {
  text-decoration: none;
  color: #304f47;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
}

.button {
  display: flex;
  gap: 10px;
}

.button i {
  padding: 1rem;
  color: #fff;
}

.button i:hover {
  color: #c7923e;
}

.containerNav button {
  padding: 10px 30px;
}

@media screen and (max-width: 670px) {
  * {
    font-size: 10px;
  }
}
